<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Loại dây</title>
<link th:href="@{admin/css/user/update.css}" rel="stylesheet">
</head>
<body id="page-top">
	<div layout:fragment="content" id="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fas fa-table"></i> Quản lý loại dây
						</div>
					</div>
				</div>
				<div class="formUpdate">
					<div class="row">
						<div class="col-md-12">
							<h2 class="headerUpdate">Thêm mới loại dây</h2>
						</div>
					</div>
					<form class="form" id="formAddLoaiDay">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="loaiDay" class="form-label">Tên loại dây</label> <input id="loaiDay" name="loaiDay" type="text"
									placeholder="Tên loại dây" class="form-control"> <span
									class="form-message" id="messageName"></span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label for="shortDescription" class="form-label">Mô tả
									ngắn</label>
								<textarea class="form-control" rows="5" id="shortDescription"
									name="shortDescription"></textarea>
								<span class="form-message"></span>
							</div>
						</div>



						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"
									style="margin: 30px;" id="btnAddUser">Thêm danh mục</button>
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>
		<script type="text/javascript">
			// Validate form 
			Validator({
				form : '#formAddLoaiDay',
				formGroupSelect : '.form-group',
				errorSelector : '.form-message',
				rules : [
						Validator.isRequired('#loaiDay',
								'Vui lòng không để trống !'),
						 ],
				onSubmit : function(data) {
					console.log(data);
					$
							.ajax({
								url : '/loaiDays',
								type : 'POST',
								contentType : 'application/json',
								data : JSON.stringify(data),
								dataType : 'json',
								success : function(response) {
									alert("Thêm danh mục thành công");
									window.location.href = "/admin_listLoaiDay";
								},
								error : function(response) {
									var data = JSON
											.parse(response.responseText);
									if (data.status == 400) {
										document
												.getElementById("messageName").innerHTML = data.validationErrors.loaiDay;
									} else {
										window.location.href = "/admin_listLoaiDay";
										alert("Lỗi hệ thống");
									}
								}
							});
				}
			});
		</script>
</body>
</html>

