<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Chất liệu vỏ</title>
<link th:href="@{admin/css/user/update.css}" rel="stylesheet">
</head>
<body id="page-top">
	<div layout:fragment="content" id="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fas fa-table"></i> Quản lý chất liệu vỏ
						</div>
					</div>
				</div>
				<div class="formUpdate">
					<div class="row">
						<div class="col-md-12">
							<h2 class="headerUpdate">Cập nhật chất liệu vỏ</h2>
						</div>
					</div>
					<form class="form" id="formUpdateChatLieu">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="material" class="form-label">Tên chất liệu</label> <input id="material" name="material" type="text"
									placeholder="Nhập tên chất liệu" class="form-control"
									th:value="${chatLieuVo.material}"> <span
									class="form-message"></span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label for="shortDescription" class="form-label">Mô tả
									ngắn</label>
								<textarea class="form-control" rows="5" id="shortDescription"
									name="shortDescription"
									th:utext="${chatLieuVo.shortDescription}"></textarea>
								<span class="form-message"></span>
							</div>
						</div>
						<input type="hidden" th:value="${chatLieuVo.id}" id="idCate"
							name="id">
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"
									style="margin: 30px;" id="btnAddUser">Lưu thay đổi</button>
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>
		<script type="text/javascript">
			// Mong muốn của chúng ta
			Validator({
				form : '#formUpdateChatLieu',
				formGroupSelect : '.form-group',
				errorSelector : '.form-message',
				rules : [
						Validator.isRequired('#material',
								'Vui lòng không để trống !'),
						Validator.minLength('#material', 6,
								'Tối thiểu phải nhập 6 ký tự !'), ],
				onSubmit : function(data) {
					console.log(data);
					$.ajax({
						url : '/chatLieuVos',
						type : 'PUT',
						contentType : 'application/json',
						data : JSON.stringify(data),
						dataType : 'json',
						success : function(response) {
							window.location.href = "/admin_listChatLieuVo";
							alert("Cập nhật chất liệu thành công !");
						},
						error : function(response) {
							window.location.href = "/admin_listChatLieuVo";
							alert("Lỗi hệ thống !");
						}
					});
				}
			});
		</script>
</body>
</html>

