<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Giảm giá</title>
<link th:href="@{admin/sweetalert2/sweetalert2.min.css}"
	rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body id="page-top">
	<div layout:fragment="content" id="content-wrapper">
		<div class="container-fluid">

			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>

			<!-- DataTables Example -->
			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fas fa-table"></i> Data Table Example
						</div>
					</div>

				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<h3 style="text-align: center; color: #1118ea; margin: 10px;">THÊM
								MÃ GIẢM GIÁ</h3>
						</div>
					</div>
					<div class="row" style="margin-top: 3%;">
						<div class="col-md-12">
							<form class="form" th:id="formAddSale">
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-6">
									<span class="form-message" id="messageIds"></span>
									</div>
									
								</div>								
								<div class=" row">
									<div class="form-group col-md-6">
										<label for="saleCode">Chương trình khuyến mại:</label> <select
											id="saleCode" name="saleCode" class="form-control">
											<option value="">------CHỌN CHƯƠNG TRÌNH-----</option>
											<th:block th:each="saleEvent : ${saleEvents}">
												<option th:value="${saleEvent.code}"
													th:utext="${saleEvent.name}"></option>
											</th:block>
										</select> <span class="form-message"></span>
									</div>
								</div>
								<div class="form-group row">
									<div class="form-group col-md-6">
										<label for="price" class="form-label">Ngày bắt đầu:</label> <input
											id="begin" name="begin" type="date" class="form-control">
										<span class="form-message" id="messageBegin"></span>
									</div>
									<div class="form-group col-md-6">
										<label for="price" class="form-label">Ngày kết thúc:</label> <input
											id="end" name="end" type="date" class="form-control">
										<span class="form-message" id="messageEnd"></span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"
											style="margin: 30px;" id="btnAddUser">Xác nhận</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<hr>
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Chọn<input type="checkbox" id="checkAll"
										style="margin-left: 5px;"></th>
									<th>Tên sản phẩm</th>
									<th>Ảnh</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th><input type="checkbox" id="checkAll1"></th>
									<th>Tên sản phẩm</th>
									<th>Ảnh</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="product : ${products}">
									<td><input type="checkbox"
										th:id="'checkbox'+${product.id}" th:value="${product.id}"
										style="margin-left: -5px;"></td>
									<td th:utext="${product.name}"></td>
									<td><img alt="Ảnh"
										th:src="@{'/uploads/sanpham/'+${product.image}}"
										style="width: 50px; height: auto;"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card-footer small text-muted">Updated yesterday at
					11:59 PM</div>
			</div>

			<p class="small text-center text-muted my-5">
				<em>More table examples coming soon...</em>
			</p>

		</div>
		<!-- /.container-fluid -->
		<script type="text/javascript">
			$("#checkAll").click(function() {
				$('input:checkbox').not(this).prop('checked', this.checked);
			});
			$("#checkAll1").click(function() {
				$('input:checkbox').not(this).prop('checked', this.checked);
			});
			function submitFormSale() {
				$("#formAddSale").submit();
			}
			Validator({
				form : '#formAddSale',
				formGroupSelect : '.form-group',
				errorSelector : '.form-message',
				rules : [
						Validator.isRequired('#saleCode',
								'Vui lòng không để trống !'),
						Validator.isRequired('#begin',
								'Vui lòng không để trống !'),
						Validator.isRequired('#end',
								'Vui lòng không để trống !'),
						Validator
								.isDateAfter(
										'#end',
										function() {
											return document
													.querySelector('#formAddSale #begin').value;
										}, 'Ngày kết thúc sau ngày bắt đầu !'), ],
				onSubmit : function(formdata) {
					var ids = $('tbody input[type=checkbox]:checked')
					.map(function() {
						return $(this).val();
					}).get();
					formdata["ids"] = ids;
					console.log(formdata);
					$
							.ajax({
								url : '/addDiscount',
								type : 'POST',
								contentType : 'application/json',
								data : JSON.stringify(formdata),
								dataType : 'json',
								success : function(response) {
									alert("Thêm thành công mã giảm giá !");
									window.location.href = "/admin_listSanPham";
								},
								error : function(response) {
									var data = JSON
											.parse(response.responseText);
									if (data.status == 400) {
										if (data.validationErrors.begin != null) {
											document
													.getElementById("messageBegin").innerHTML = data.validationErrors.begin;
										}
										else if (data.validationErrors.end != null) {
											document
													.getElementById("messageEnd").innerHTML = data.validationErrors.end;
										}
										else if (data.validationErrors.ids != null) {
											document
													.getElementById("messageIds").innerHTML = data.validationErrors.ids;
										}
									} else {
										window.location.href = "/admin_listSanPham";
										alert(response);
									}
								}
							});
				}
			});
		</script>
	</div>
</body>
</html>

