<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Kiểu đồng hồ</title>
<link th:href="@{admin/css/user/update.css}" rel="stylesheet">
</head>
<body id="page-top">
	<div layout:fragment="content" id="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fas fa-table"></i> Quản lý kiểu đồng hồ
						</div>
					</div>
				</div>
				<div class="formUpdate">
					<div class="row">
						<div class="col-md-12">
							<h2 class="headerUpdate">Thêm mới kiểu đồng hồ</h2>
						</div>
					</div>
					<form class="form" id="formAddCate">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name" class="form-label">Kiểu đồng hồ</label> <input
									id="name" name="name" type="text"
									placeholder="Tên kiểu đồng hồ" class="form-control"> <span
									class="form-message" id="messageCate"></span>
							</div>
						</div>
						


						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"
									style="margin: 30px;" id="btnAddUser">Thêm mới</button>
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>
		<script type="text/javascript">
			// Validate form 
			Validator({
				form : '#formAddCate',
				formGroupSelect : '.form-group',
				errorSelector : '.form-message',
				rules : [
						Validator.isRequired('#name',
								'Vui lòng không để trống !')
						 ],
				onSubmit : function(data) {
					console.log(data);
					$
					.ajax({
						url : '/kieuDHs',
						type : 'POST',
						contentType : 'application/json',
						data : JSON.stringify(data),
						dataType : 'json',
						success : function(response) {
							alert("Thêm thành công");
							window.location.href = "/admin_listKieuDH";
						},
						error : function(response) {
							var data = JSON
									.parse(response.responseText);
							if (data.status == 400) {
								document
										.getElementById("messageCate").innerHTML = data.validationErrors.name;
							} else {
								window.location.href = "/admin_listKieuDH";
								alert("Lỗi hệ thống");
							}
						}
					});
				}
			});
		</script>
</body>
</html>

