<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<style type="text/css">
.product_related_title {
	font-size: 25px;
	text-align: center;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: #662d91;
}

.relativepro {
	margin-top: 30px;
}
.title_tintuc a {
    font-size: 16px;
    font-family: UTMAvoBold;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    margin: 10px 0;
    padding: 0 20px;
    height: 75px;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}
.shortDecription_tinTuc {
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
    height: 70px;
    overflow: hidden;
}
</style>
<script type="text/javascript"
	th:src="@{pagination/jquery.twbsPagination.js}"></script>
<script type="text/javascript">
	function addItem(item) {
		var data = $(item).val();
		$.ajax({
			url : '/add_item',
			type : 'POST',
			contentType : 'application/json',
			data : JSON.stringify(data),
			dataType : 'json',
			success : function(response) {
				window.location.href = "/";
			},
			error : function(response) {
				alert("Lỗi hệ thống");
			}
		});
	};
</script>
</head>
<body>
	<div layout:fragment="content">
		<!--banner-starts-->
		<div class="bnr" id="home">
			<div id="top" class="callbacks_container">
				<ul class="rslides" id="slider4">
					<th:block th:each="slider : ${sliders}">
						<li><img th:src="@{'/uploads/slider/'+${slider.images}}"
							alt="" /></li>
					</th:block>
				</ul>
			</div>
			<div class="clearfix"></div>
			<!--banner-ends-->
			<!--Slider-Starts-Here-->
			<script th:src="@{web/js/responsiveslides.min.js}"></script>
			<script>
				// You can also use "$(window).load(function() {"
				$(function() {
					// Slideshow 4
					$("#slider4").responsiveSlides(
							{
								auto : true,
								pager : true,
								nav : true,
								speed : 300,
								namespace : "callbacks",
								before : function() {
									$('.events').append(
											"<li>before event fired.</li>");
								},
								after : function() {
									$('.events').append(
											"<li>after event fired.</li>");
								}
							});

				});
			</script>
			<!--End-slider-script-->
			<!--about-starts-->
			<div class="about">
				<div class="container">
					<div class="about-top grid-1">
						<div class="col-md-4 about-left">
							<figure class="effect-bubba">
								<a th:href="@{/productByGender(gender='Nam')}"><img
									class="img-responsive" th:src="@{web/images/abt-1.jpg}" alt="" />
									<figcaption>
										<h2>Đồng hồ nam</h2>
									</figcaption></a>

							</figure>
						</div>
						<div class="col-md-4 about-left">
							<figure class="effect-bubba">
								<a th:href="@{/productByGender(gender='Nữ')}"> <img
									class="img-responsive" th:src="@{web/images/abt-2.jpg}" alt="" />
									<figcaption>
										<h4>Đồng hồ nữ</h4>
									</figcaption>
								</a>
							</figure>
						</div>
						<div class="col-md-4 about-left">
							<figure class="effect-bubba">
								<a th:href="@{/productByGender(gender='Đồng hồ đôi')}"> <img
									class="img-responsive" th:src="@{web/images/abt-3.jpg}" alt="" />
									<figcaption>
										<h4>Đồng hồ đôi</h4>
									</figcaption>
								</a>

							</figure>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--about-end-->
			<div class="container">
				<div class="row">
					<div class="col-md-12 relativepro">
						<div class="product_related_title">
							<span>SẢN PHẨM NỔI BẬT</span>
						</div>
					</div>
				</div>
			</div>
			<!--product-starts-->
			<div class="product">
				<div class="container">
					<div class="product-top">
						<th:block th:each="product : ${listProducts.listResult}">
							<div class="col-md-3 product-left" style="margin-bottom: 3%;">
								<div class="product-main simpleCart_shelfItem">
									<a th:href="@{/productDetail(code=${product.code})}"
										class="mask"><img class="img-responsive zoom-img"
										th:src="@{'/uploads/sanpham/'+${product.image}}" alt="" /></a>
									<div class="product-bottom">
										<h3 th:utext="${product.name}" class="product_name"></h3>

										<h5 style="margin-top: 20px;" th:if="${product.priceSale}">
											<del
												th:utext="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></del>
											VNĐ
										</h5>
										<h4 style="margin-top: 15px;" th:if="${product.priceSale}">
											<button class="item_add" th:value="${product.id}"
												style="background: #fff;" onclick="addItem(this)"
												th:unless="${product.quantity} == 0">
												<i></i>
											</button>
											<span
												th:utext="${#numbers.formatDecimal(product.priceSale, 0, 'COMMA', 0, 'POINT')}"></span>
											<span>VNĐ</span>
										</h4>
										<h4 style="margin-top: 35px;" th:unless="${product.priceSale}">
											<button class="item_add" th:value="${product.id}"
												style="background: #fff;" onclick="addItem(this)"
												th:unless="${product.quantity} <= 0">
												<i></i>
											</button>
											<span
												th:utext="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></span>
											<span>VNĐ</span>
										</h4>
									</div>
									<th:block th:if="${product.saleProduct}">
										<div class="srch">
											<span th:utext="${product.saleProduct.sale.name}"></span>
										</div>
									</th:block>
									<th:block th:unless="${product.saleProduct}">
										<div class="srch">
											<span> NEW </span>
										</div>
									</th:block>

								</div>
							</div>
						</th:block>
						<div class="clearfix"></div>
						<nav aria-label="Page navigation" style="margin-left: 2%;">
							<ul class="pagination" id="pagination"></ul>
						</nav>
						<input type="hidden" id="totalPage" name="totalPage"
							th:value="${listProducts.totalPage}" />
						<form th:action="@{/trang-chu}" method='GET' id="formSubmit">
							<input type="hidden" id="page" name="page"
								th:value="${listProducts.page}" />
						</form>

						<script>
							$(function() {
								var totalPages = parseInt($("#totalPage").val());
								var currentPage = parseInt($("#page").val());							
								window.pagObj = $('#pagination')
										.twbsPagination(
												{
													totalPages : totalPages,
													visiblePages : 5,
													startPage : currentPage,
													onPageClick : function(
															event, page) {
														if (currentPage != page) {
															$('#page')
																	.val(page);
															$('#formSubmit')
																	.submit();
														}
													}
												})
										.on(
												'page',
												function(event, page) {
													console
															.info(page
																	+ ' (from event listening)');
												});
							});
						</script>
					</div>
					<div class="row">
						<div class="col-md-12 relativepro">
							<div class="product_related_title">							
								<a th:href="@{/tin-tuc-by-danh_muc(danhMuc='Giới thiệu')}" style="text-decoration: none; color: #662d91;"><span>VỀ CHÚNG TÔI</span></a>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 3%;">
						<th:block th:each="gioiThieu : ${gioiThieus}">
							<div class="col-md-4">
								<a class="img_tag"
									th:href="@{/tin_tuc(code=${gioiThieu.code})}">
									<img
									alt="Ảnh"
									style="display: inline-block; width: 100%; height: 240px;"
									class="lazy" th:src="@{'/uploads/tintuc/'+${gioiThieu.image}}">
								</a>
								<div class="title_tintuc">
									<a th:href="@{/tin_tuc(code=${gioiThieu.code})}" >
										<b th:utext="${gioiThieu.title}"></b>
									</a>
								</div>
								<p th:utext="${gioiThieu.shortDescription}" class="shortDecription_tinTuc"></p>
							</div>
						</th:block>
					</div>
					<div class="row">
						<div class="col-md-12 relativepro">
							<div class="product_related_title">							
								<a th:href="@{/danh-muc-tin}" style="text-decoration: none; color: #662d91;"><span>TIN TỨC & SỰ KIỆN</span></a>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 3%;">
						<th:block th:each="tinTuc : ${tinTucs}">
							<div class="col-md-4">
								<a class="img_tag"
									th:href="@{/tin_tuc(code=${tinTuc.code})}">
									<img
									alt="Ảnh"
									style="display: inline-block; width: 100%; height: 240px;"
									class="lazy" th:src="@{'/uploads/tintuc/'+${tinTuc.image}}">
								</a>
								<div class="title_tintuc">
									<a th:href="@{/tin_tuc(code=${tinTuc.code})}" >
										<b th:utext="${tinTuc.title}"></b>
									</a>
								</div>
								<p th:utext="${tinTuc.shortDescription}" class="shortDecription_tinTuc"></p>
							</div>
						</th:block>
					</div>
					
				</div>
			</div>
			<!--product-end-->
		</div>
</body>
</html>