<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Hóa đơn nhập</title>
<link th:href="@{admin/css/user/update.css}" rel="stylesheet">
</head>
<body id="page-top">
	<div layout:fragment="content" id="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fas fa-table"></i> Hóa đơn nhập
						</div>
					</div>
				</div>
				<div class="formUpdate">
					<div class="row">
						<div class="col-md-12">
							<h2 class="headerUpdate">Thêm mới hóa đơn nhập</h2>
						</div>
					</div>
					<form class="form" id="formAddHDN">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="brandCode">Nhà cung cấp:</label> <select
									id="supplierCode" name="supplierCode" class="form-control">
									<option value="">------CHỌN NHÀ CUNG CẤP-----</option>
									<th:block th:each="supplier : ${suppliers}">
										<option th:value="${supplier.code}" th:utext="${supplier.name}"></option>
									</th:block>
								</select> <span class="form-message"></span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label for="logo" class="form-label">Chọn file excel :</label> <input id="logo" name="logo" type="file"
									 class="form-control"> <span
									class="form-message" ></span>
							</div>
						</div>



						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"
									style="margin: 30px;" id="btnAddUser">Thêm mới</button>
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>
		<script type="text/javascript">
		var data={};
		document.getElementById('logo').addEventListener('change', openFiles, false);
		function openFiles(evt) {
		    var files = evt.target.files;
			var file = files[0],
		    reader = new FileReader();
		    reader.onload = (function (file) {
		            return function (e) { 
		            	var binaryData = this.result;
		            	 data["bytes"] = window.btoa(binaryData);
		            	 data["excelFileName"] = file.name;
		            }
		        })(file);

		        reader.readAsBinaryString(file);
		}
			// Validate form 
			Validator({
				form : '#formAddHDN',
				formGroupSelect : '.form-group',
				errorSelector : '.form-message',
				rules : [
						Validator.isRequired('#supplierCode',
								'Vui lòng không để trống !'),
								Validator.isRequired('#logo',
								'Vui lòng chọn file excel !'),
								Validator.isFileExcel('#logo',
								'Chọn đúng định dạng file excel !'),
						 ],
				onSubmit : function(formdata) {
			          formdata["bytes"] = data["bytes"];
			          formdata["excelFileName"] = data["excelFileName"];
			          console.log(formdata);
					   $
							.ajax({
								url : '/hoadonnhaps',
								type : 'POST',
								contentType : 'application/json',
								data : JSON.stringify(formdata),
								dataType : 'json',
								success : function(response) {
									alert("Thêm danh mục thành công");
									window.location.href = "/admin_listHDN";
								},
								error : function(response) {
									window.location.href = "/admin_listHDN";
									alert("Lỗi hệ thống");
								}
							});
				}
			});
		</script>
</body>
</html>

