<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/layout}">
<head>
<title>Bảo hành</title>
<link th:href="@{admin/css/user/update.css}" rel="stylesheet">
</head>
<body id="page-top">
	<div layout:fragment="content" id="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
				<li class="breadcrumb-item active">Tables</li>
			</ol>
			<div class="card mb-3">
				<div class="card-header">
					<div class="row">
						<div class="col-md-6">
							<i class="fas fa-table"></i>Bảo hành
						</div>
					</div>
				</div>
				<div class="formUpdate">
					<div class="row">
						<div class="col-md-12">
							<h2 class="headerUpdate">Cập nhật bảo hành</h2>
						</div>
					</div>
					<form class="form" id="formUpdateBH">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name" class="form-label">Bảo hành</label> <input
									id="name" name="name" type="text" class="form-control"
									th:value="${baoHanh.name}"> <span class="form-message"></span>
							</div>
						</div>
						<input type="hidden" th:value="${baoHanh.id}" id="idCate"
							name="id">
						<div class="row">
							<div class="col-md-12">
								<button type="submit" class="btn btn-primary"
									style="margin: 30px;" id="btnAddUser">Lưu thay đổi</button>
							</div>
						</div>
					</form>
				</div>


			</div>
		</div>
		<script type="text/javascript">
			// Mong muốn của chúng ta
			Validator({
				form : '#formUpdateBH',
				formGroupSelect : '.form-group',
				errorSelector : '.form-message',
				rules : [
						Validator.isRequired('#name',
								'Vui lòng không để trống !'), ],
				onSubmit : function(data) {
					console.log(data);
					$.ajax({
						url : '/baoHanhs',
						type : 'PUT',
						contentType : 'application/json',
						data : JSON.stringify(data),
						dataType : 'json',
						success : function(response) {
							window.location.href = "/listBH";
							alert("Cập nhật thành công !");
						},
						error : function(response) {
							window.location.href = "/listBH";
							alert("Lỗi hệ thống !");
						}
					});
				}
			});
		</script>
</body>
</html>

